@CHARSET "UTF-8";

.Champion_b_sprite {
	background: url(https://sites.google.com/a/moa.cse.tw/lol-info/champions/Champion_b.jpg) no-repeat top left;
	width: 120px;
	height: 120px;
}

.Champion_m_sprite {
	background: url(https://sites.google.com/a/moa.cse.tw/lol-info/champions/Champion_m.jpg) no-repeat top left;
	width: 60px;
	height: 60px;
}

.Champion_s_sprite {
	background: url(https://sites.google.com/a/moa.cse.tw/lol-info/champions/Champion_s.jpg) no-repeat top left;
	width: 32px;
	height: 32px;
}

.Champion_b-A{ background-position: 0px 0px; }
.Champion_b-0{ background-position: 0px 0px; }
.Champion_b-Aatrox{ background-position: -120px 0px; }
.Champion_b-266{ background-position: -120px 0px; }
.Champion_b-Ahri{ background-position: -240px 0px; }
.Champion_b-103{ background-position: -240px 0px; }
.Champion_b-Akali{ background-position: -360px 0px; }
.Champion_b-84{ background-position: -360px 0px; }
.Champion_b-Alistar{ background-position: -480px 0px; }
.Champion_b-12{ background-position: -480px 0px; }
.Champion_b-Amumu{ background-position: -600px 0px; }
.Champion_b-32{ background-position: -600px 0px; }
.Champion_b-Anivia{ background-position: -720px 0px; }
.Champion_b-34{ background-position: -720px 0px; }
.Champion_b-Annie{ background-position: -840px 0px; }
.Champion_b-1{ background-position: -840px 0px; }
.Champion_b-Ashe{ background-position: -960px 0px; }
.Champion_b-22{ background-position: -960px 0px; }
.Champion_b-Azir{ background-position: -1080px 0px; }
.Champion_b-268{ background-position: -1080px 0px; }
.Champion_b-Blitzcrank{ background-position: 0px -120px; }
.Champion_b-53{ background-position: 0px -120px; }
.Champion_b-Brand{ background-position: -120px -120px; }
.Champion_b-63{ background-position: -120px -120px; }
.Champion_b-Braum{ background-position: -240px -120px; }
.Champion_b-201{ background-position: -240px -120px; }
.Champion_b-Caitlyn{ background-position: -360px -120px; }
.Champion_b-51{ background-position: -360px -120px; }
.Champion_b-Cassiopeia{ background-position: -480px -120px; }
.Champion_b-69{ background-position: -480px -120px; }
.Champion_b-Chogath{ background-position: -600px -120px; }
.Champion_b-31{ background-position: -600px -120px; }
.Champion_b-Corki{ background-position: -720px -120px; }
.Champion_b-42{ background-position: -720px -120px; }
.Champion_b-Darius{ background-position: -840px -120px; }
.Champion_b-122{ background-position: -840px -120px; }
.Champion_b-Diana{ background-position: -960px -120px; }
.Champion_b-131{ background-position: -960px -120px; }
.Champion_b-DrMundo{ background-position: -1080px -120px; }
.Champion_b-36{ background-position: -1080px -120px; }
.Champion_b-Draven{ background-position: 0px -240px; }
.Champion_b-119{ background-position: 0px -240px; }
.Champion_b-Elise{ background-position: -120px -240px; }
.Champion_b-60{ background-position: -120px -240px; }
.Champion_b-Evelynn{ background-position: -240px -240px; }
.Champion_b-28{ background-position: -240px -240px; }
.Champion_b-Ezreal{ background-position: -360px -240px; }
.Champion_b-81{ background-position: -360px -240px; }
.Champion_b-FiddleSticks{ background-position: -480px -240px; }
.Champion_b-9{ background-position: -480px -240px; }
.Champion_b-Fiora{ background-position: -600px -240px; }
.Champion_b-114{ background-position: -600px -240px; }
.Champion_b-Fizz{ background-position: -720px -240px; }
.Champion_b-105{ background-position: -720px -240px; }
.Champion_b-Galio{ background-position: -840px -240px; }
.Champion_b-3{ background-position: -840px -240px; }
.Champion_b-Gangplank{ background-position: -960px -240px; }
.Champion_b-41{ background-position: -960px -240px; }
.Champion_b-Garen{ background-position: -1080px -240px; }
.Champion_b-86{ background-position: -1080px -240px; }
.Champion_b-Gnar{ background-position: 0px -360px; }
.Champion_b-150{ background-position: 0px -360px; }
.Champion_b-Gragas{ background-position: -120px -360px; }
.Champion_b-79{ background-position: -120px -360px; }
.Champion_b-Graves{ background-position: -240px -360px; }
.Champion_b-104{ background-position: -240px -360px; }
.Champion_b-Hecarim{ background-position: -360px -360px; }
.Champion_b-120{ background-position: -360px -360px; }
.Champion_b-Heimerdinger{ background-position: -480px -360px; }
.Champion_b-74{ background-position: -480px -360px; }
.Champion_b-Irelia{ background-position: -600px -360px; }
.Champion_b-39{ background-position: -600px -360px; }
.Champion_b-Janna{ background-position: -720px -360px; }
.Champion_b-40{ background-position: -720px -360px; }
.Champion_b-JarvanIV{ background-position: -840px -360px; }
.Champion_b-59{ background-position: -840px -360px; }
.Champion_b-Jax{ background-position: -960px -360px; }
.Champion_b-24{ background-position: -960px -360px; }
.Champion_b-Jayce{ background-position: -1080px -360px; }
.Champion_b-126{ background-position: -1080px -360px; }
.Champion_b-Jinx{ background-position: 0px -480px; }
.Champion_b-222{ background-position: 0px -480px; }
.Champion_b-Karma{ background-position: -120px -480px; }
.Champion_b-43{ background-position: -120px -480px; }
.Champion_b-Karthus{ background-position: -240px -480px; }
.Champion_b-30{ background-position: -240px -480px; }
.Champion_b-Kassadin{ background-position: -360px -480px; }
.Champion_b-38{ background-position: -360px -480px; }
.Champion_b-Katarina{ background-position: -480px -480px; }
.Champion_b-55{ background-position: -480px -480px; }
.Champion_b-Kayle{ background-position: -600px -480px; }
.Champion_b-10{ background-position: -600px -480px; }
.Champion_b-Kennen{ background-position: -720px -480px; }
.Champion_b-85{ background-position: -720px -480px; }
.Champion_b-Khazix{ background-position: -840px -480px; }
.Champion_b-121{ background-position: -840px -480px; }
.Champion_b-KogMaw{ background-position: -960px -480px; }
.Champion_b-96{ background-position: -960px -480px; }
.Champion_b-Leblanc{ background-position: -1080px -480px; }
.Champion_b-7{ background-position: -1080px -480px; }
.Champion_b-LeeSin{ background-position: 0px -600px; }
.Champion_b-64{ background-position: 0px -600px; }
.Champion_b-Leona{ background-position: -120px -600px; }
.Champion_b-89{ background-position: -120px -600px; }
.Champion_b-Lissandra{ background-position: -240px -600px; }
.Champion_b-127{ background-position: -240px -600px; }
.Champion_b-Lucian{ background-position: -360px -600px; }
.Champion_b-236{ background-position: -360px -600px; }
.Champion_b-Lulu{ background-position: -480px -600px; }
.Champion_b-117{ background-position: -480px -600px; }
.Champion_b-Lux{ background-position: -600px -600px; }
.Champion_b-99{ background-position: -600px -600px; }
.Champion_b-Malphite{ background-position: -720px -600px; }
.Champion_b-54{ background-position: -720px -600px; }
.Champion_b-Malzahar{ background-position: -840px -600px; }
.Champion_b-90{ background-position: -840px -600px; }
.Champion_b-Maokai{ background-position: -960px -600px; }
.Champion_b-57{ background-position: -960px -600px; }
.Champion_b-MasterYi{ background-position: -1080px -600px; }
.Champion_b-11{ background-position: -1080px -600px; }
.Champion_b-MissFortune{ background-position: 0px -720px; }
.Champion_b-21{ background-position: 0px -720px; }
.Champion_b-MonkeyKing{ background-position: -120px -720px; }
.Champion_b-62{ background-position: -120px -720px; }
.Champion_b-Mordekaiser{ background-position: -240px -720px; }
.Champion_b-82{ background-position: -240px -720px; }
.Champion_b-Morgana{ background-position: -360px -720px; }
.Champion_b-25{ background-position: -360px -720px; }
.Champion_b-Nami{ background-position: -480px -720px; }
.Champion_b-267{ background-position: -480px -720px; }
.Champion_b-Nasus{ background-position: -600px -720px; }
.Champion_b-75{ background-position: -600px -720px; }
.Champion_b-Nautilus{ background-position: -720px -720px; }
.Champion_b-111{ background-position: -720px -720px; }
.Champion_b-Nidalee{ background-position: -840px -720px; }
.Champion_b-76{ background-position: -840px -720px; }
.Champion_b-Nocturne{ background-position: -960px -720px; }
.Champion_b-56{ background-position: -960px -720px; }
.Champion_b-Nunu{ background-position: -1080px -720px; }
.Champion_b-20{ background-position: -1080px -720px; }
.Champion_b-Olaf{ background-position: 0px -840px; }
.Champion_b-2{ background-position: 0px -840px; }
.Champion_b-Orianna{ background-position: -120px -840px; }
.Champion_b-61{ background-position: -120px -840px; }
.Champion_b-Pantheon{ background-position: -240px -840px; }
.Champion_b-80{ background-position: -240px -840px; }
.Champion_b-Poppy{ background-position: -360px -840px; }
.Champion_b-78{ background-position: -360px -840px; }
.Champion_b-Quinn{ background-position: -480px -840px; }
.Champion_b-133{ background-position: -480px -840px; }
.Champion_b-Rammus{ background-position: -600px -840px; }
.Champion_b-33{ background-position: -600px -840px; }
.Champion_b-Random{ background-position: -720px -840px; }
.Champion_b-0{ background-position: -720px -840px; }
.Champion_b-Renekton{ background-position: -840px -840px; }
.Champion_b-58{ background-position: -840px -840px; }
.Champion_b-Rengar{ background-position: -960px -840px; }
.Champion_b-107{ background-position: -960px -840px; }
.Champion_b-Riven{ background-position: -1080px -840px; }
.Champion_b-92{ background-position: -1080px -840px; }
.Champion_b-Rumble{ background-position: 0px -960px; }
.Champion_b-68{ background-position: 0px -960px; }
.Champion_b-Ryze{ background-position: -120px -960px; }
.Champion_b-13{ background-position: -120px -960px; }
.Champion_b-Sejuani{ background-position: -240px -960px; }
.Champion_b-113{ background-position: -240px -960px; }
.Champion_b-Shaco{ background-position: -360px -960px; }
.Champion_b-35{ background-position: -360px -960px; }
.Champion_b-Shen{ background-position: -480px -960px; }
.Champion_b-98{ background-position: -480px -960px; }
.Champion_b-Shyvana{ background-position: -600px -960px; }
.Champion_b-102{ background-position: -600px -960px; }
.Champion_b-Singed{ background-position: -720px -960px; }
.Champion_b-27{ background-position: -720px -960px; }
.Champion_b-Sion{ background-position: -840px -960px; }
.Champion_b-14{ background-position: -840px -960px; }
.Champion_b-Sivir{ background-position: -960px -960px; }
.Champion_b-15{ background-position: -960px -960px; }
.Champion_b-Skarner{ background-position: -1080px -960px; }
.Champion_b-72{ background-position: -1080px -960px; }
.Champion_b-Sona{ background-position: 0px -1080px; }
.Champion_b-37{ background-position: 0px -1080px; }
.Champion_b-Soraka{ background-position: -120px -1080px; }
.Champion_b-16{ background-position: -120px -1080px; }
.Champion_b-Swain{ background-position: -240px -1080px; }
.Champion_b-50{ background-position: -240px -1080px; }
.Champion_b-Syndra{ background-position: -360px -1080px; }
.Champion_b-134{ background-position: -360px -1080px; }
.Champion_b-Talon{ background-position: -480px -1080px; }
.Champion_b-91{ background-position: -480px -1080px; }
.Champion_b-Taric{ background-position: -600px -1080px; }
.Champion_b-44{ background-position: -600px -1080px; }
.Champion_b-Teemo{ background-position: -720px -1080px; }
.Champion_b-17{ background-position: -720px -1080px; }
.Champion_b-Thresh{ background-position: -840px -1080px; }
.Champion_b-412{ background-position: -840px -1080px; }
.Champion_b-Tristana{ background-position: -960px -1080px; }
.Champion_b-18{ background-position: -960px -1080px; }
.Champion_b-Trundle{ background-position: -1080px -1080px; }
.Champion_b-48{ background-position: -1080px -1080px; }
.Champion_b-Tryndamere{ background-position: 0px -1200px; }
.Champion_b-23{ background-position: 0px -1200px; }
.Champion_b-TwistedFate{ background-position: -120px -1200px; }
.Champion_b-4{ background-position: -120px -1200px; }
.Champion_b-Twitch{ background-position: -240px -1200px; }
.Champion_b-29{ background-position: -240px -1200px; }
.Champion_b-Udyr{ background-position: -360px -1200px; }
.Champion_b-77{ background-position: -360px -1200px; }
.Champion_b-Urgot{ background-position: -480px -1200px; }
.Champion_b-6{ background-position: -480px -1200px; }
.Champion_b-Varus{ background-position: -600px -1200px; }
.Champion_b-110{ background-position: -600px -1200px; }
.Champion_b-Vayne{ background-position: -720px -1200px; }
.Champion_b-67{ background-position: -720px -1200px; }
.Champion_b-Veigar{ background-position: -840px -1200px; }
.Champion_b-45{ background-position: -840px -1200px; }
.Champion_b-Velkoz{ background-position: -960px -1200px; }
.Champion_b-161{ background-position: -960px -1200px; }
.Champion_b-Vi{ background-position: -1080px -1200px; }
.Champion_b-254{ background-position: -1080px -1200px; }
.Champion_b-Viktor{ background-position: 0px -1320px; }
.Champion_b-112{ background-position: 0px -1320px; }
.Champion_b-Vladimir{ background-position: -120px -1320px; }
.Champion_b-8{ background-position: -120px -1320px; }
.Champion_b-Volibear{ background-position: -240px -1320px; }
.Champion_b-106{ background-position: -240px -1320px; }
.Champion_b-Warwick{ background-position: -360px -1320px; }
.Champion_b-19{ background-position: -360px -1320px; }
.Champion_b-Xerath{ background-position: -480px -1320px; }
.Champion_b-101{ background-position: -480px -1320px; }
.Champion_b-XinZhao{ background-position: -600px -1320px; }
.Champion_b-5{ background-position: -600px -1320px; }
.Champion_b-Yasuo{ background-position: -720px -1320px; }
.Champion_b-157{ background-position: -720px -1320px; }
.Champion_b-Yorick{ background-position: -840px -1320px; }
.Champion_b-83{ background-position: -840px -1320px; }
.Champion_b-Zac{ background-position: -960px -1320px; }
.Champion_b-154{ background-position: -960px -1320px; }
.Champion_b-Zed{ background-position: -1080px -1320px; }
.Champion_b-238{ background-position: -1080px -1320px; }
.Champion_b-Ziggs{ background-position: 0px -1440px; }
.Champion_b-115{ background-position: 0px -1440px; }
.Champion_b-Zilean{ background-position: -120px -1440px; }
.Champion_b-26{ background-position: -120px -1440px; }
.Champion_b-Zyra{ background-position: -240px -1440px; }
.Champion_b-143{ background-position: -240px -1440px; }

.Champion_m-A{ background-position: 0px 0px; }
.Champion_m-0{ background-position: 0px 0px; }
.Champion_m-Aatrox{ background-position: -60px 0px; }
.Champion_m-266{ background-position: -60px 0px; }
.Champion_m-Ahri{ background-position: -120px 0px; }
.Champion_m-103{ background-position: -120px 0px; }
.Champion_m-Akali{ background-position: -180px 0px; }
.Champion_m-84{ background-position: -180px 0px; }
.Champion_m-Alistar{ background-position: -240px 0px; }
.Champion_m-12{ background-position: -240px 0px; }
.Champion_m-Amumu{ background-position: -300px 0px; }
.Champion_m-32{ background-position: -300px 0px; }
.Champion_m-Anivia{ background-position: -360px 0px; }
.Champion_m-34{ background-position: -360px 0px; }
.Champion_m-Annie{ background-position: -420px 0px; }
.Champion_m-1{ background-position: -420px 0px; }
.Champion_m-Ashe{ background-position: -480px 0px; }
.Champion_m-22{ background-position: -480px 0px; }
.Champion_m-Azir{ background-position: -540px 0px; }
.Champion_m-268{ background-position: -540px 0px; }
.Champion_m-Blitzcrank{ background-position: 0px -60px; }
.Champion_m-53{ background-position: 0px -60px; }
.Champion_m-Brand{ background-position: -60px -60px; }
.Champion_m-63{ background-position: -60px -60px; }
.Champion_m-Braum{ background-position: -120px -60px; }
.Champion_m-201{ background-position: -120px -60px; }
.Champion_m-Caitlyn{ background-position: -180px -60px; }
.Champion_m-51{ background-position: -180px -60px; }
.Champion_m-Cassiopeia{ background-position: -240px -60px; }
.Champion_m-69{ background-position: -240px -60px; }
.Champion_m-Chogath{ background-position: -300px -60px; }
.Champion_m-31{ background-position: -300px -60px; }
.Champion_m-Corki{ background-position: -360px -60px; }
.Champion_m-42{ background-position: -360px -60px; }
.Champion_m-Darius{ background-position: -420px -60px; }
.Champion_m-122{ background-position: -420px -60px; }
.Champion_m-Diana{ background-position: -480px -60px; }
.Champion_m-131{ background-position: -480px -60px; }
.Champion_m-DrMundo{ background-position: -540px -60px; }
.Champion_m-36{ background-position: -540px -60px; }
.Champion_m-Draven{ background-position: 0px -120px; }
.Champion_m-119{ background-position: 0px -120px; }
.Champion_m-Elise{ background-position: -60px -120px; }
.Champion_m-60{ background-position: -60px -120px; }
.Champion_m-Evelynn{ background-position: -120px -120px; }
.Champion_m-28{ background-position: -120px -120px; }
.Champion_m-Ezreal{ background-position: -180px -120px; }
.Champion_m-81{ background-position: -180px -120px; }
.Champion_m-FiddleSticks{ background-position: -240px -120px; }
.Champion_m-9{ background-position: -240px -120px; }
.Champion_m-Fiora{ background-position: -300px -120px; }
.Champion_m-114{ background-position: -300px -120px; }
.Champion_m-Fizz{ background-position: -360px -120px; }
.Champion_m-105{ background-position: -360px -120px; }
.Champion_m-Galio{ background-position: -420px -120px; }
.Champion_m-3{ background-position: -420px -120px; }
.Champion_m-Gangplank{ background-position: -480px -120px; }
.Champion_m-41{ background-position: -480px -120px; }
.Champion_m-Garen{ background-position: -540px -120px; }
.Champion_m-86{ background-position: -540px -120px; }
.Champion_m-Gnar{ background-position: 0px -180px; }
.Champion_m-150{ background-position: 0px -180px; }
.Champion_m-Gragas{ background-position: -60px -180px; }
.Champion_m-79{ background-position: -60px -180px; }
.Champion_m-Graves{ background-position: -120px -180px; }
.Champion_m-104{ background-position: -120px -180px; }
.Champion_m-Hecarim{ background-position: -180px -180px; }
.Champion_m-120{ background-position: -180px -180px; }
.Champion_m-Heimerdinger{ background-position: -240px -180px; }
.Champion_m-74{ background-position: -240px -180px; }
.Champion_m-Irelia{ background-position: -300px -180px; }
.Champion_m-39{ background-position: -300px -180px; }
.Champion_m-Janna{ background-position: -360px -180px; }
.Champion_m-40{ background-position: -360px -180px; }
.Champion_m-JarvanIV{ background-position: -420px -180px; }
.Champion_m-59{ background-position: -420px -180px; }
.Champion_m-Jax{ background-position: -480px -180px; }
.Champion_m-24{ background-position: -480px -180px; }
.Champion_m-Jayce{ background-position: -540px -180px; }
.Champion_m-126{ background-position: -540px -180px; }
.Champion_m-Jinx{ background-position: 0px -240px; }
.Champion_m-222{ background-position: 0px -240px; }
.Champion_m-Karma{ background-position: -60px -240px; }
.Champion_m-43{ background-position: -60px -240px; }
.Champion_m-Karthus{ background-position: -120px -240px; }
.Champion_m-30{ background-position: -120px -240px; }
.Champion_m-Kassadin{ background-position: -180px -240px; }
.Champion_m-38{ background-position: -180px -240px; }
.Champion_m-Katarina{ background-position: -240px -240px; }
.Champion_m-55{ background-position: -240px -240px; }
.Champion_m-Kayle{ background-position: -300px -240px; }
.Champion_m-10{ background-position: -300px -240px; }
.Champion_m-Kennen{ background-position: -360px -240px; }
.Champion_m-85{ background-position: -360px -240px; }
.Champion_m-Khazix{ background-position: -420px -240px; }
.Champion_m-121{ background-position: -420px -240px; }
.Champion_m-KogMaw{ background-position: -480px -240px; }
.Champion_m-96{ background-position: -480px -240px; }
.Champion_m-Leblanc{ background-position: -540px -240px; }
.Champion_m-7{ background-position: -540px -240px; }
.Champion_m-LeeSin{ background-position: 0px -300px; }
.Champion_m-64{ background-position: 0px -300px; }
.Champion_m-Leona{ background-position: -60px -300px; }
.Champion_m-89{ background-position: -60px -300px; }
.Champion_m-Lissandra{ background-position: -120px -300px; }
.Champion_m-127{ background-position: -120px -300px; }
.Champion_m-Lucian{ background-position: -180px -300px; }
.Champion_m-236{ background-position: -180px -300px; }
.Champion_m-Lulu{ background-position: -240px -300px; }
.Champion_m-117{ background-position: -240px -300px; }
.Champion_m-Lux{ background-position: -300px -300px; }
.Champion_m-99{ background-position: -300px -300px; }
.Champion_m-Malphite{ background-position: -360px -300px; }
.Champion_m-54{ background-position: -360px -300px; }
.Champion_m-Malzahar{ background-position: -420px -300px; }
.Champion_m-90{ background-position: -420px -300px; }
.Champion_m-Maokai{ background-position: -480px -300px; }
.Champion_m-57{ background-position: -480px -300px; }
.Champion_m-MasterYi{ background-position: -540px -300px; }
.Champion_m-11{ background-position: -540px -300px; }
.Champion_m-MissFortune{ background-position: 0px -360px; }
.Champion_m-21{ background-position: 0px -360px; }
.Champion_m-MonkeyKing{ background-position: -60px -360px; }
.Champion_m-62{ background-position: -60px -360px; }
.Champion_m-Mordekaiser{ background-position: -120px -360px; }
.Champion_m-82{ background-position: -120px -360px; }
.Champion_m-Morgana{ background-position: -180px -360px; }
.Champion_m-25{ background-position: -180px -360px; }
.Champion_m-Nami{ background-position: -240px -360px; }
.Champion_m-267{ background-position: -240px -360px; }
.Champion_m-Nasus{ background-position: -300px -360px; }
.Champion_m-75{ background-position: -300px -360px; }
.Champion_m-Nautilus{ background-position: -360px -360px; }
.Champion_m-111{ background-position: -360px -360px; }
.Champion_m-Nidalee{ background-position: -420px -360px; }
.Champion_m-76{ background-position: -420px -360px; }
.Champion_m-Nocturne{ background-position: -480px -360px; }
.Champion_m-56{ background-position: -480px -360px; }
.Champion_m-Nunu{ background-position: -540px -360px; }
.Champion_m-20{ background-position: -540px -360px; }
.Champion_m-Olaf{ background-position: 0px -420px; }
.Champion_m-2{ background-position: 0px -420px; }
.Champion_m-Orianna{ background-position: -60px -420px; }
.Champion_m-61{ background-position: -60px -420px; }
.Champion_m-Pantheon{ background-position: -120px -420px; }
.Champion_m-80{ background-position: -120px -420px; }
.Champion_m-Poppy{ background-position: -180px -420px; }
.Champion_m-78{ background-position: -180px -420px; }
.Champion_m-Quinn{ background-position: -240px -420px; }
.Champion_m-133{ background-position: -240px -420px; }
.Champion_m-Rammus{ background-position: -300px -420px; }
.Champion_m-33{ background-position: -300px -420px; }
.Champion_m-Random{ background-position: -360px -420px; }
.Champion_m-0{ background-position: -360px -420px; }
.Champion_m-Renekton{ background-position: -420px -420px; }
.Champion_m-58{ background-position: -420px -420px; }
.Champion_m-Rengar{ background-position: -480px -420px; }
.Champion_m-107{ background-position: -480px -420px; }
.Champion_m-Riven{ background-position: -540px -420px; }
.Champion_m-92{ background-position: -540px -420px; }
.Champion_m-Rumble{ background-position: 0px -480px; }
.Champion_m-68{ background-position: 0px -480px; }
.Champion_m-Ryze{ background-position: -60px -480px; }
.Champion_m-13{ background-position: -60px -480px; }
.Champion_m-Sejuani{ background-position: -120px -480px; }
.Champion_m-113{ background-position: -120px -480px; }
.Champion_m-Shaco{ background-position: -180px -480px; }
.Champion_m-35{ background-position: -180px -480px; }
.Champion_m-Shen{ background-position: -240px -480px; }
.Champion_m-98{ background-position: -240px -480px; }
.Champion_m-Shyvana{ background-position: -300px -480px; }
.Champion_m-102{ background-position: -300px -480px; }
.Champion_m-Singed{ background-position: -360px -480px; }
.Champion_m-27{ background-position: -360px -480px; }
.Champion_m-Sion{ background-position: -420px -480px; }
.Champion_m-14{ background-position: -420px -480px; }
.Champion_m-Sivir{ background-position: -480px -480px; }
.Champion_m-15{ background-position: -480px -480px; }
.Champion_m-Skarner{ background-position: -540px -480px; }
.Champion_m-72{ background-position: -540px -480px; }
.Champion_m-Sona{ background-position: 0px -540px; }
.Champion_m-37{ background-position: 0px -540px; }
.Champion_m-Soraka{ background-position: -60px -540px; }
.Champion_m-16{ background-position: -60px -540px; }
.Champion_m-Swain{ background-position: -120px -540px; }
.Champion_m-50{ background-position: -120px -540px; }
.Champion_m-Syndra{ background-position: -180px -540px; }
.Champion_m-134{ background-position: -180px -540px; }
.Champion_m-Talon{ background-position: -240px -540px; }
.Champion_m-91{ background-position: -240px -540px; }
.Champion_m-Taric{ background-position: -300px -540px; }
.Champion_m-44{ background-position: -300px -540px; }
.Champion_m-Teemo{ background-position: -360px -540px; }
.Champion_m-17{ background-position: -360px -540px; }
.Champion_m-Thresh{ background-position: -420px -540px; }
.Champion_m-412{ background-position: -420px -540px; }
.Champion_m-Tristana{ background-position: -480px -540px; }
.Champion_m-18{ background-position: -480px -540px; }
.Champion_m-Trundle{ background-position: -540px -540px; }
.Champion_m-48{ background-position: -540px -540px; }
.Champion_m-Tryndamere{ background-position: 0px -600px; }
.Champion_m-23{ background-position: 0px -600px; }
.Champion_m-TwistedFate{ background-position: -60px -600px; }
.Champion_m-4{ background-position: -60px -600px; }
.Champion_m-Twitch{ background-position: -120px -600px; }
.Champion_m-29{ background-position: -120px -600px; }
.Champion_m-Udyr{ background-position: -180px -600px; }
.Champion_m-77{ background-position: -180px -600px; }
.Champion_m-Urgot{ background-position: -240px -600px; }
.Champion_m-6{ background-position: -240px -600px; }
.Champion_m-Varus{ background-position: -300px -600px; }
.Champion_m-110{ background-position: -300px -600px; }
.Champion_m-Vayne{ background-position: -360px -600px; }
.Champion_m-67{ background-position: -360px -600px; }
.Champion_m-Veigar{ background-position: -420px -600px; }
.Champion_m-45{ background-position: -420px -600px; }
.Champion_m-Velkoz{ background-position: -480px -600px; }
.Champion_m-161{ background-position: -480px -600px; }
.Champion_m-Vi{ background-position: -540px -600px; }
.Champion_m-254{ background-position: -540px -600px; }
.Champion_m-Viktor{ background-position: 0px -660px; }
.Champion_m-112{ background-position: 0px -660px; }
.Champion_m-Vladimir{ background-position: -60px -660px; }
.Champion_m-8{ background-position: -60px -660px; }
.Champion_m-Volibear{ background-position: -120px -660px; }
.Champion_m-106{ background-position: -120px -660px; }
.Champion_m-Warwick{ background-position: -180px -660px; }
.Champion_m-19{ background-position: -180px -660px; }
.Champion_m-Xerath{ background-position: -240px -660px; }
.Champion_m-101{ background-position: -240px -660px; }
.Champion_m-XinZhao{ background-position: -300px -660px; }
.Champion_m-5{ background-position: -300px -660px; }
.Champion_m-Yasuo{ background-position: -360px -660px; }
.Champion_m-157{ background-position: -360px -660px; }
.Champion_m-Yorick{ background-position: -420px -660px; }
.Champion_m-83{ background-position: -420px -660px; }
.Champion_m-Zac{ background-position: -480px -660px; }
.Champion_m-154{ background-position: -480px -660px; }
.Champion_m-Zed{ background-position: -540px -660px; }
.Champion_m-238{ background-position: -540px -660px; }
.Champion_m-Ziggs{ background-position: 0px -720px; }
.Champion_m-115{ background-position: 0px -720px; }
.Champion_m-Zilean{ background-position: -60px -720px; }
.Champion_m-26{ background-position: -60px -720px; }
.Champion_m-Zyra{ background-position: -120px -720px; }
.Champion_m-143{ background-position: -120px -720px; }

.Champion_s-A{ background-position: 0px 0px; }
.Champion_s-0{ background-position: 0px 0px; }
.Champion_s-Aatrox{ background-position: -32px 0px; }
.Champion_s-266{ background-position: -32px 0px; }
.Champion_s-Ahri{ background-position: -64px 0px; }
.Champion_s-103{ background-position: -64px 0px; }
.Champion_s-Akali{ background-position: -96px 0px; }
.Champion_s-84{ background-position: -96px 0px; }
.Champion_s-Alistar{ background-position: -128px 0px; }
.Champion_s-12{ background-position: -128px 0px; }
.Champion_s-Amumu{ background-position: -160px 0px; }
.Champion_s-32{ background-position: -160px 0px; }
.Champion_s-Anivia{ background-position: -192px 0px; }
.Champion_s-34{ background-position: -192px 0px; }
.Champion_s-Annie{ background-position: -224px 0px; }
.Champion_s-1{ background-position: -224px 0px; }
.Champion_s-Ashe{ background-position: -256px 0px; }
.Champion_s-22{ background-position: -256px 0px; }
.Champion_s-Azir{ background-position: -288px 0px; }
.Champion_s-268{ background-position: -288px 0px; }
.Champion_s-Blitzcrank{ background-position: 0px -32px; }
.Champion_s-53{ background-position: 0px -32px; }
.Champion_s-Brand{ background-position: -32px -32px; }
.Champion_s-63{ background-position: -32px -32px; }
.Champion_s-Braum{ background-position: -64px -32px; }
.Champion_s-201{ background-position: -64px -32px; }
.Champion_s-Caitlyn{ background-position: -96px -32px; }
.Champion_s-51{ background-position: -96px -32px; }
.Champion_s-Cassiopeia{ background-position: -128px -32px; }
.Champion_s-69{ background-position: -128px -32px; }
.Champion_s-Chogath{ background-position: -160px -32px; }
.Champion_s-31{ background-position: -160px -32px; }
.Champion_s-Corki{ background-position: -192px -32px; }
.Champion_s-42{ background-position: -192px -32px; }
.Champion_s-Darius{ background-position: -224px -32px; }
.Champion_s-122{ background-position: -224px -32px; }
.Champion_s-Diana{ background-position: -256px -32px; }
.Champion_s-131{ background-position: -256px -32px; }
.Champion_s-DrMundo{ background-position: -288px -32px; }
.Champion_s-36{ background-position: -288px -32px; }
.Champion_s-Draven{ background-position: 0px -64px; }
.Champion_s-119{ background-position: 0px -64px; }
.Champion_s-Elise{ background-position: -32px -64px; }
.Champion_s-60{ background-position: -32px -64px; }
.Champion_s-Evelynn{ background-position: -64px -64px; }
.Champion_s-28{ background-position: -64px -64px; }
.Champion_s-Ezreal{ background-position: -96px -64px; }
.Champion_s-81{ background-position: -96px -64px; }
.Champion_s-FiddleSticks{ background-position: -128px -64px; }
.Champion_s-9{ background-position: -128px -64px; }
.Champion_s-Fiora{ background-position: -160px -64px; }
.Champion_s-114{ background-position: -160px -64px; }
.Champion_s-Fizz{ background-position: -192px -64px; }
.Champion_s-105{ background-position: -192px -64px; }
.Champion_s-Galio{ background-position: -224px -64px; }
.Champion_s-3{ background-position: -224px -64px; }
.Champion_s-Gangplank{ background-position: -256px -64px; }
.Champion_s-41{ background-position: -256px -64px; }
.Champion_s-Garen{ background-position: -288px -64px; }
.Champion_s-86{ background-position: -288px -64px; }
.Champion_s-Gnar{ background-position: 0px -96px; }
.Champion_s-150{ background-position: 0px -96px; }
.Champion_s-Gragas{ background-position: -32px -96px; }
.Champion_s-79{ background-position: -32px -96px; }
.Champion_s-Graves{ background-position: -64px -96px; }
.Champion_s-104{ background-position: -64px -96px; }
.Champion_s-Hecarim{ background-position: -96px -96px; }
.Champion_s-120{ background-position: -96px -96px; }
.Champion_s-Heimerdinger{ background-position: -128px -96px; }
.Champion_s-74{ background-position: -128px -96px; }
.Champion_s-Irelia{ background-position: -160px -96px; }
.Champion_s-39{ background-position: -160px -96px; }
.Champion_s-Janna{ background-position: -192px -96px; }
.Champion_s-40{ background-position: -192px -96px; }
.Champion_s-JarvanIV{ background-position: -224px -96px; }
.Champion_s-59{ background-position: -224px -96px; }
.Champion_s-Jax{ background-position: -256px -96px; }
.Champion_s-24{ background-position: -256px -96px; }
.Champion_s-Jayce{ background-position: -288px -96px; }
.Champion_s-126{ background-position: -288px -96px; }
.Champion_s-Jinx{ background-position: 0px -128px; }
.Champion_s-222{ background-position: 0px -128px; }
.Champion_s-Karma{ background-position: -32px -128px; }
.Champion_s-43{ background-position: -32px -128px; }
.Champion_s-Karthus{ background-position: -64px -128px; }
.Champion_s-30{ background-position: -64px -128px; }
.Champion_s-Kassadin{ background-position: -96px -128px; }
.Champion_s-38{ background-position: -96px -128px; }
.Champion_s-Katarina{ background-position: -128px -128px; }
.Champion_s-55{ background-position: -128px -128px; }
.Champion_s-Kayle{ background-position: -160px -128px; }
.Champion_s-10{ background-position: -160px -128px; }
.Champion_s-Kennen{ background-position: -192px -128px; }
.Champion_s-85{ background-position: -192px -128px; }
.Champion_s-Khazix{ background-position: -224px -128px; }
.Champion_s-121{ background-position: -224px -128px; }
.Champion_s-KogMaw{ background-position: -256px -128px; }
.Champion_s-96{ background-position: -256px -128px; }
.Champion_s-Leblanc{ background-position: -288px -128px; }
.Champion_s-7{ background-position: -288px -128px; }
.Champion_s-LeeSin{ background-position: 0px -160px; }
.Champion_s-64{ background-position: 0px -160px; }
.Champion_s-Leona{ background-position: -32px -160px; }
.Champion_s-89{ background-position: -32px -160px; }
.Champion_s-Lissandra{ background-position: -64px -160px; }
.Champion_s-127{ background-position: -64px -160px; }
.Champion_s-Lucian{ background-position: -96px -160px; }
.Champion_s-236{ background-position: -96px -160px; }
.Champion_s-Lulu{ background-position: -128px -160px; }
.Champion_s-117{ background-position: -128px -160px; }
.Champion_s-Lux{ background-position: -160px -160px; }
.Champion_s-99{ background-position: -160px -160px; }
.Champion_s-Malphite{ background-position: -192px -160px; }
.Champion_s-54{ background-position: -192px -160px; }
.Champion_s-Malzahar{ background-position: -224px -160px; }
.Champion_s-90{ background-position: -224px -160px; }
.Champion_s-Maokai{ background-position: -256px -160px; }
.Champion_s-57{ background-position: -256px -160px; }
.Champion_s-MasterYi{ background-position: -288px -160px; }
.Champion_s-11{ background-position: -288px -160px; }
.Champion_s-MissFortune{ background-position: 0px -192px; }
.Champion_s-21{ background-position: 0px -192px; }
.Champion_s-MonkeyKing{ background-position: -32px -192px; }
.Champion_s-62{ background-position: -32px -192px; }
.Champion_s-Mordekaiser{ background-position: -64px -192px; }
.Champion_s-82{ background-position: -64px -192px; }
.Champion_s-Morgana{ background-position: -96px -192px; }
.Champion_s-25{ background-position: -96px -192px; }
.Champion_s-Nami{ background-position: -128px -192px; }
.Champion_s-267{ background-position: -128px -192px; }
.Champion_s-Nasus{ background-position: -160px -192px; }
.Champion_s-75{ background-position: -160px -192px; }
.Champion_s-Nautilus{ background-position: -192px -192px; }
.Champion_s-111{ background-position: -192px -192px; }
.Champion_s-Nidalee{ background-position: -224px -192px; }
.Champion_s-76{ background-position: -224px -192px; }
.Champion_s-Nocturne{ background-position: -256px -192px; }
.Champion_s-56{ background-position: -256px -192px; }
.Champion_s-Nunu{ background-position: -288px -192px; }
.Champion_s-20{ background-position: -288px -192px; }
.Champion_s-Olaf{ background-position: 0px -224px; }
.Champion_s-2{ background-position: 0px -224px; }
.Champion_s-Orianna{ background-position: -32px -224px; }
.Champion_s-61{ background-position: -32px -224px; }
.Champion_s-Pantheon{ background-position: -64px -224px; }
.Champion_s-80{ background-position: -64px -224px; }
.Champion_s-Poppy{ background-position: -96px -224px; }
.Champion_s-78{ background-position: -96px -224px; }
.Champion_s-Quinn{ background-position: -128px -224px; }
.Champion_s-133{ background-position: -128px -224px; }
.Champion_s-Rammus{ background-position: -160px -224px; }
.Champion_s-33{ background-position: -160px -224px; }
.Champion_s-Random{ background-position: -192px -224px; }
.Champion_s-0{ background-position: -192px -224px; }
.Champion_s-Renekton{ background-position: -224px -224px; }
.Champion_s-58{ background-position: -224px -224px; }
.Champion_s-Rengar{ background-position: -256px -224px; }
.Champion_s-107{ background-position: -256px -224px; }
.Champion_s-Riven{ background-position: -288px -224px; }
.Champion_s-92{ background-position: -288px -224px; }
.Champion_s-Rumble{ background-position: 0px -256px; }
.Champion_s-68{ background-position: 0px -256px; }
.Champion_s-Ryze{ background-position: -32px -256px; }
.Champion_s-13{ background-position: -32px -256px; }
.Champion_s-Sejuani{ background-position: -64px -256px; }
.Champion_s-113{ background-position: -64px -256px; }
.Champion_s-Shaco{ background-position: -96px -256px; }
.Champion_s-35{ background-position: -96px -256px; }
.Champion_s-Shen{ background-position: -128px -256px; }
.Champion_s-98{ background-position: -128px -256px; }
.Champion_s-Shyvana{ background-position: -160px -256px; }
.Champion_s-102{ background-position: -160px -256px; }
.Champion_s-Singed{ background-position: -192px -256px; }
.Champion_s-27{ background-position: -192px -256px; }
.Champion_s-Sion{ background-position: -224px -256px; }
.Champion_s-14{ background-position: -224px -256px; }
.Champion_s-Sivir{ background-position: -256px -256px; }
.Champion_s-15{ background-position: -256px -256px; }
.Champion_s-Skarner{ background-position: -288px -256px; }
.Champion_s-72{ background-position: -288px -256px; }
.Champion_s-Sona{ background-position: 0px -288px; }
.Champion_s-37{ background-position: 0px -288px; }
.Champion_s-Soraka{ background-position: -32px -288px; }
.Champion_s-16{ background-position: -32px -288px; }
.Champion_s-Swain{ background-position: -64px -288px; }
.Champion_s-50{ background-position: -64px -288px; }
.Champion_s-Syndra{ background-position: -96px -288px; }
.Champion_s-134{ background-position: -96px -288px; }
.Champion_s-Talon{ background-position: -128px -288px; }
.Champion_s-91{ background-position: -128px -288px; }
.Champion_s-Taric{ background-position: -160px -288px; }
.Champion_s-44{ background-position: -160px -288px; }
.Champion_s-Teemo{ background-position: -192px -288px; }
.Champion_s-17{ background-position: -192px -288px; }
.Champion_s-Thresh{ background-position: -224px -288px; }
.Champion_s-412{ background-position: -224px -288px; }
.Champion_s-Tristana{ background-position: -256px -288px; }
.Champion_s-18{ background-position: -256px -288px; }
.Champion_s-Trundle{ background-position: -288px -288px; }
.Champion_s-48{ background-position: -288px -288px; }
.Champion_s-Tryndamere{ background-position: 0px -320px; }
.Champion_s-23{ background-position: 0px -320px; }
.Champion_s-TwistedFate{ background-position: -32px -320px; }
.Champion_s-4{ background-position: -32px -320px; }
.Champion_s-Twitch{ background-position: -64px -320px; }
.Champion_s-29{ background-position: -64px -320px; }
.Champion_s-Udyr{ background-position: -96px -320px; }
.Champion_s-77{ background-position: -96px -320px; }
.Champion_s-Urgot{ background-position: -128px -320px; }
.Champion_s-6{ background-position: -128px -320px; }
.Champion_s-Varus{ background-position: -160px -320px; }
.Champion_s-110{ background-position: -160px -320px; }
.Champion_s-Vayne{ background-position: -192px -320px; }
.Champion_s-67{ background-position: -192px -320px; }
.Champion_s-Veigar{ background-position: -224px -320px; }
.Champion_s-45{ background-position: -224px -320px; }
.Champion_s-Velkoz{ background-position: -256px -320px; }
.Champion_s-161{ background-position: -256px -320px; }
.Champion_s-Vi{ background-position: -288px -320px; }
.Champion_s-254{ background-position: -288px -320px; }
.Champion_s-Viktor{ background-position: 0px -352px; }
.Champion_s-112{ background-position: 0px -352px; }
.Champion_s-Vladimir{ background-position: -32px -352px; }
.Champion_s-8{ background-position: -32px -352px; }
.Champion_s-Volibear{ background-position: -64px -352px; }
.Champion_s-106{ background-position: -64px -352px; }
.Champion_s-Warwick{ background-position: -96px -352px; }
.Champion_s-19{ background-position: -96px -352px; }
.Champion_s-Xerath{ background-position: -128px -352px; }
.Champion_s-101{ background-position: -128px -352px; }
.Champion_s-XinZhao{ background-position: -160px -352px; }
.Champion_s-5{ background-position: -160px -352px; }
.Champion_s-Yasuo{ background-position: -192px -352px; }
.Champion_s-157{ background-position: -192px -352px; }
.Champion_s-Yorick{ background-position: -224px -352px; }
.Champion_s-83{ background-position: -224px -352px; }
.Champion_s-Zac{ background-position: -256px -352px; }
.Champion_s-154{ background-position: -256px -352px; }
.Champion_s-Zed{ background-position: -288px -352px; }
.Champion_s-238{ background-position: -288px -352px; }
.Champion_s-Ziggs{ background-position: 0px -384px; }
.Champion_s-115{ background-position: 0px -384px; }
.Champion_s-Zilean{ background-position: -32px -384px; }
.Champion_s-26{ background-position: -32px -384px; }
.Champion_s-Zyra{ background-position: -64px -384px; }
.Champion_s-143{ background-position: -64px -384px; }
