@CHARSET "UTF-8";

.item_sprite {
	background: url(https://sites.google.com/a/moa.cse.tw/lol-info/item/item_sprite.jpg) no-repeat top left;
	width: 40px;
	height: 40px;
}

.item-0{ background-position: 0px 0px; }
.item-1001{ background-position: -40px 0px; }
.item-1004{ background-position: -80px 0px; }
.item-1005{ background-position: -120px 0px; }
.item-1006{ background-position: -160px 0px; }
.item-1007{ background-position: -200px 0px; }
.item-1008{ background-position: -240px 0px; }
.item-1010{ background-position: -280px 0px; }
.item-1011{ background-position: -320px 0px; }
.item-1012{ background-position: -360px 0px; }
.item-1014{ background-position: -400px 0px; }
.item-1015{ background-position: -440px 0px; }
.item-1018{ background-position: -480px 0px; }
.item-1019{ background-position: -520px 0px; }
.item-1020{ background-position: -560px 0px; }
.item-1022{ background-position: -600px 0px; }
.item-1024{ background-position: -640px 0px; }
.item-1026{ background-position: -680px 0px; }
.item-1027{ background-position: -720px 0px; }
.item-1028{ background-position: -760px 0px; }
.item-1029{ background-position: 0px -40px; }
.item-1031{ background-position: -40px -40px; }
.item-1033{ background-position: -80px -40px; }
.item-1034{ background-position: -120px -40px; }
.item-1035{ background-position: -160px -40px; }
.item-1036{ background-position: -200px -40px; }
.item-1037{ background-position: -240px -40px; }
.item-1038{ background-position: -280px -40px; }
.item-1039{ background-position: -320px -40px; }
.item-1041{ background-position: -360px -40px; }
.item-1042{ background-position: -400px -40px; }
.item-1043{ background-position: -440px -40px; }
.item-1044{ background-position: -480px -40px; }
.item-1048{ background-position: -520px -40px; }
.item-1051{ background-position: -560px -40px; }
.item-1052{ background-position: -600px -40px; }
.item-1053{ background-position: -640px -40px; }
.item-1054{ background-position: -680px -40px; }
.item-1055{ background-position: -720px -40px; }
.item-1056{ background-position: -760px -40px; }
.item-1057{ background-position: 0px -80px; }
.item-1058{ background-position: -40px -80px; }
.item-1062{ background-position: -80px -80px; }
.item-1063{ background-position: -120px -80px; }
.item-1080{ background-position: -160px -80px; }
.item-2001{ background-position: -200px -80px; }
.item-2002{ background-position: -240px -80px; }
.item-2003{ background-position: -280px -80px; }
.item-2004{ background-position: -320px -80px; }
.item-2006{ background-position: -360px -80px; }
.item-2008{ background-position: -400px -80px; }
.item-2009{ background-position: -440px -80px; }
.item-2017{ background-position: -480px -80px; }
.item-2018{ background-position: -520px -80px; }
.item-2019{ background-position: -560px -80px; }
.item-2024{ background-position: -600px -80px; }
.item-2026{ background-position: -640px -80px; }
.item-2028{ background-position: -680px -80px; }
.item-2030{ background-position: -720px -80px; }
.item-2032{ background-position: -760px -80px; }
.item-2036{ background-position: 0px -120px; }
.item-2037{ background-position: -40px -120px; }
.item-2038{ background-position: -80px -120px; }
.item-2039{ background-position: -120px -120px; }
.item-2040{ background-position: -160px -120px; }
.item-2041{ background-position: -200px -120px; }
.item-2042{ background-position: -240px -120px; }
.item-2043{ background-position: -280px -120px; }
.item-2044{ background-position: -320px -120px; }
.item-2045{ background-position: -360px -120px; }
.item-2046{ background-position: -400px -120px; }
.item-2047{ background-position: -440px -120px; }
.item-2048{ background-position: -480px -120px; }
.item-2049{ background-position: -520px -120px; }
.item-2050{ background-position: -560px -120px; }
.item-2051{ background-position: -600px -120px; }
.item-2052{ background-position: -640px -120px; }
.item-3001{ background-position: -680px -120px; }
.item-3002{ background-position: -720px -120px; }
.item-3003{ background-position: -760px -120px; }
.item-3004{ background-position: 0px -160px; }
.item-3005{ background-position: -40px -160px; }
.item-3006{ background-position: -80px -160px; }
.item-3007{ background-position: -120px -160px; }
.item-3008{ background-position: -160px -160px; }
.item-3009{ background-position: -200px -160px; }
.item-3010{ background-position: -240px -160px; }
.item-3011{ background-position: -280px -160px; }
.item-3013{ background-position: -320px -160px; }
.item-3014{ background-position: -360px -160px; }
.item-3015{ background-position: -400px -160px; }
.item-3016{ background-position: -440px -160px; }
.item-3017{ background-position: -480px -160px; }
.item-3018{ background-position: -520px -160px; }
.item-3020{ background-position: -560px -160px; }
.item-3021{ background-position: -600px -160px; }
.item-3022{ background-position: -640px -160px; }
.item-3023{ background-position: -680px -160px; }
.item-3024{ background-position: -720px -160px; }
.item-3025{ background-position: -760px -160px; }
.item-3026{ background-position: 0px -200px; }
.item-3027{ background-position: -40px -200px; }
.item-3028{ background-position: -80px -200px; }
.item-3029{ background-position: -120px -200px; }
.item-3030{ background-position: -160px -200px; }
.item-3031{ background-position: -200px -200px; }
.item-3032{ background-position: -240px -200px; }
.item-3033{ background-position: -280px -200px; }
.item-3034{ background-position: -320px -200px; }
.item-3035{ background-position: -360px -200px; }
.item-3036{ background-position: -400px -200px; }
.item-3037{ background-position: -440px -200px; }
.item-3038{ background-position: -480px -200px; }
.item-3039{ background-position: -520px -200px; }
.item-3040{ background-position: -560px -200px; }
.item-3041{ background-position: -600px -200px; }
.item-3042{ background-position: -640px -200px; }
.item-3043{ background-position: -680px -200px; }
.item-3044{ background-position: -720px -200px; }
.item-3045{ background-position: -760px -200px; }
.item-3046{ background-position: 0px -240px; }
.item-3047{ background-position: -40px -240px; }
.item-3049{ background-position: -80px -240px; }
.item-3050{ background-position: -120px -240px; }
.item-3051{ background-position: -160px -240px; }
.item-3052{ background-position: -200px -240px; }
.item-3054{ background-position: -240px -240px; }
.item-3056{ background-position: -280px -240px; }
.item-3057{ background-position: -320px -240px; }
.item-3058{ background-position: -360px -240px; }
.item-3059{ background-position: -400px -240px; }
.item-3060{ background-position: -440px -240px; }
.item-3061{ background-position: -480px -240px; }
.item-3062{ background-position: -520px -240px; }
.item-3063{ background-position: -560px -240px; }
.item-3064{ background-position: -600px -240px; }
.item-3065{ background-position: -640px -240px; }
.item-3066{ background-position: -680px -240px; }
.item-3067{ background-position: -720px -240px; }
.item-3068{ background-position: -760px -240px; }
.item-3069{ background-position: 0px -280px; }
.item-3070{ background-position: -40px -280px; }
.item-3071{ background-position: -80px -280px; }
.item-3072{ background-position: -120px -280px; }
.item-3073{ background-position: -160px -280px; }
.item-3074{ background-position: -200px -280px; }
.item-3075{ background-position: -240px -280px; }
.item-3076{ background-position: -280px -280px; }
.item-3077{ background-position: -320px -280px; }
.item-3078{ background-position: -360px -280px; }
.item-3081{ background-position: -400px -280px; }
.item-3082{ background-position: -440px -280px; }
.item-3083{ background-position: -480px -280px; }
.item-3084{ background-position: -520px -280px; }
.item-3085{ background-position: -560px -280px; }
.item-3086{ background-position: -600px -280px; }
.item-3087{ background-position: -640px -280px; }
.item-3088{ background-position: -680px -280px; }
.item-3089{ background-position: -720px -280px; }
.item-3090{ background-position: -760px -280px; }
.item-3091{ background-position: 0px -320px; }
.item-3092{ background-position: -40px -320px; }
.item-3093{ background-position: -80px -320px; }
.item-3094{ background-position: -120px -320px; }
.item-3095{ background-position: -160px -320px; }
.item-3096{ background-position: -200px -320px; }
.item-3097{ background-position: -240px -320px; }
.item-3098{ background-position: -280px -320px; }
.item-3100{ background-position: -320px -320px; }
.item-3101{ background-position: -360px -320px; }
.item-3102{ background-position: -400px -320px; }
.item-3104{ background-position: -440px -320px; }
.item-3105{ background-position: -480px -320px; }
.item-3106{ background-position: -520px -320px; }
.item-3107{ background-position: -560px -320px; }
.item-3108{ background-position: -600px -320px; }
.item-3110{ background-position: -640px -320px; }
.item-3111{ background-position: -680px -320px; }
.item-3112{ background-position: -720px -320px; }
.item-3113{ background-position: -760px -320px; }
.item-3114{ background-position: 0px -360px; }
.item-3115{ background-position: -40px -360px; }
.item-3116{ background-position: -80px -360px; }
.item-3117{ background-position: -120px -360px; }
.item-3122{ background-position: -160px -360px; }
.item-3123{ background-position: -200px -360px; }
.item-3124{ background-position: -240px -360px; }
.item-3126{ background-position: -280px -360px; }
.item-3128{ background-position: -320px -360px; }
.item-3131{ background-position: -360px -360px; }
.item-3132{ background-position: -400px -360px; }
.item-3134{ background-position: -440px -360px; }
.item-3135{ background-position: -480px -360px; }
.item-3136{ background-position: -520px -360px; }
.item-3137{ background-position: -560px -360px; }
.item-3138{ background-position: -600px -360px; }
.item-3139{ background-position: -640px -360px; }
.item-3140{ background-position: -680px -360px; }
.item-3141{ background-position: -720px -360px; }
.item-3142{ background-position: -760px -360px; }
.item-3143{ background-position: 0px -400px; }
.item-3144{ background-position: -40px -400px; }
.item-3145{ background-position: -80px -400px; }
.item-3146{ background-position: -120px -400px; }
.item-3151{ background-position: -160px -400px; }
.item-3152{ background-position: -200px -400px; }
.item-3153{ background-position: -240px -400px; }
.item-3154{ background-position: -280px -400px; }
.item-3155{ background-position: -320px -400px; }
.item-3156{ background-position: -360px -400px; }
.item-3157{ background-position: -400px -400px; }
.item-3158{ background-position: -440px -400px; }
.item-3159{ background-position: -480px -400px; }
.item-3165{ background-position: -520px -400px; }
.item-3166{ background-position: -560px -400px; }
.item-3167{ background-position: -600px -400px; }
.item-3168{ background-position: -640px -400px; }
.item-3169{ background-position: -680px -400px; }
.item-3170{ background-position: -720px -400px; }
.item-3171{ background-position: -760px -400px; }
.item-3172{ background-position: 0px -440px; }
.item-3173{ background-position: -40px -440px; }
.item-3174{ background-position: -80px -440px; }
.item-3175{ background-position: -120px -440px; }
.item-3176{ background-position: -160px -440px; }
.item-3178{ background-position: -200px -440px; }
.item-3179{ background-position: -240px -440px; }
.item-3180{ background-position: -280px -440px; }
.item-3181{ background-position: -320px -440px; }
.item-3183{ background-position: -360px -440px; }
.item-3184{ background-position: -400px -440px; }
.item-3185{ background-position: -440px -440px; }
.item-3186{ background-position: -480px -440px; }
.item-3187{ background-position: -520px -440px; }
.item-3188{ background-position: -560px -440px; }
.item-3190{ background-position: -600px -440px; }
.item-3191{ background-position: -640px -440px; }
.item-3196{ background-position: -680px -440px; }
.item-3197{ background-position: -720px -440px; }
.item-3198{ background-position: -760px -440px; }
.item-3200{ background-position: 0px -480px; }
.item-3205{ background-position: -40px -480px; }
.item-3206{ background-position: -80px -480px; }
.item-3207{ background-position: -120px -480px; }
.item-3209{ background-position: -160px -480px; }
.item-3211{ background-position: -200px -480px; }
.item-3222{ background-position: -240px -480px; }
.item-3250{ background-position: -280px -480px; }
.item-3251{ background-position: -320px -480px; }
.item-3252{ background-position: -360px -480px; }
.item-3253{ background-position: -400px -480px; }
.item-3254{ background-position: -440px -480px; }
.item-3255{ background-position: -480px -480px; }
.item-3256{ background-position: -520px -480px; }
.item-3257{ background-position: -560px -480px; }
.item-3258{ background-position: -600px -480px; }
.item-3259{ background-position: -640px -480px; }
.item-3260{ background-position: -680px -480px; }
.item-3261{ background-position: -720px -480px; }
.item-3262{ background-position: -760px -480px; }
.item-3263{ background-position: 0px -520px; }
.item-3264{ background-position: -40px -520px; }
.item-3265{ background-position: -80px -520px; }
.item-3266{ background-position: -120px -520px; }
.item-3267{ background-position: -160px -520px; }
.item-3268{ background-position: -200px -520px; }
.item-3269{ background-position: -240px -520px; }
.item-3270{ background-position: -280px -520px; }
.item-3271{ background-position: -320px -520px; }
.item-3272{ background-position: -360px -520px; }
.item-3273{ background-position: -400px -520px; }
.item-3274{ background-position: -440px -520px; }
.item-3275{ background-position: -480px -520px; }
.item-3276{ background-position: -520px -520px; }
.item-3277{ background-position: -560px -520px; }
.item-3278{ background-position: -600px -520px; }
.item-3279{ background-position: -640px -520px; }
.item-3280{ background-position: -680px -520px; }
.item-3281{ background-position: -720px -520px; }
.item-3282{ background-position: -760px -520px; }
.item-3283{ background-position: 0px -560px; }
.item-3284{ background-position: -40px -560px; }
.item-3290{ background-position: -80px -560px; }
.item-3301{ background-position: -120px -560px; }
.item-3302{ background-position: -160px -560px; }
.item-3303{ background-position: -200px -560px; }
.item-3340{ background-position: -240px -560px; }
.item-3341{ background-position: -280px -560px; }
.item-3342{ background-position: -320px -560px; }
.item-3350{ background-position: -360px -560px; }
.item-3351{ background-position: -400px -560px; }
.item-3352{ background-position: -440px -560px; }
.item-3361{ background-position: -480px -560px; }
.item-3362{ background-position: -520px -560px; }
.item-3363{ background-position: -560px -560px; }
.item-3364{ background-position: -600px -560px; }
.item-3401{ background-position: -640px -560px; }
.item-3460{ background-position: -680px -560px; }
.item-3504{ background-position: -720px -560px; }
.item-3508{ background-position: -760px -560px; }
.item-Icon{ background-position: 0px -600px; }
